.g-siderbar {
  height: 800px;
  width: 280px;
  position: absolute;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: rgb(243, 243, 243);
  display: inline;
  .category-select {
    font-size: 1.4rem;
    line-height: 1.42857;
    color: #333;
    background-color: rgb(240, 239, 239);
    text-size-adjust: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    .p-condition-h {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    .p-condition-body {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: normal;
      display: inline-flex;
      padding: 0;
      transition: background-color 0.2s;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      background-color: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .colname-select {
    margin-top: 10px;
    .a-back {
      margin-top: 10px;
      .p-clear-btns {
        text-align: center;
        display: block;
        .clear-btn {
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: normal;
          display: inline-flex;
          padding: 0;
          transition: background-color 0.2s;
          vertical-align: middle;
          border: 1px solid #cecece;
          border-radius: 4px;
          background-color: rgb(231, 231, 231);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        .clear-btn-active {
          font-size: 1.6rem;
          line-height: 1.5;
          font-weight: normal;
          display: inline-flex;
          padding: 0;
          transition: background-color 0.2s;
          vertical-align: middle;
          border: 1px solid #cecece;
          border-radius: 4px;
          background-color: rgb(231, 231, 231);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
  }
}

.g-layout-body {
  margin-bottom: 35px;
  height: 147px;
  width: 800px;
  display: inline;
  position: relative;
  left: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  .count-and-orderby {
    display: flex;
    margin-bottom: 15px;
    border-top: 2px solid #009e96;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: space-between;
  }
  .goods-List {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
