.g-layout_head {
  h1 {
    font-size: 2.5rem;
  }
  .labelSet {
    height: 20px;
    width: 72px;
    img {
      max-width: 100%;
      vertical-align: bottom;
      border: 0;
      height: auto;
    }
  }
}

.backGround {
  margin-bottom: 35px;
  display: flex;
  .g-layout_body {
    display: flex;
    flex-wrap: wrap;
    .productImg {
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      max-width: 415px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .bigImg {
        height: 415px;
        margin: 0%;
      }
    }
    .sku-details {
      padding-right: 0;
      position: relative;
      width: 500px;
      left: 30px;
      .pointGet {
        margin-top: 10px;
        display: flex;
        align-items: flex-end;
        .point {
          font-size: larger;
          margin: 0 5px 0 1em;
          color: #eb6157;
          font-weight: bold;
        }
      }

      .colorAndImg {
        max-width: 435px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .icons {
        img {
          height: 60px;
          width: 60px;
          margin-right: 5px;
        }
      }
      .specMore {
        table-layout: fixed;
        width: 450px;
        height: 450px;
        tr {
          border-top: 2px solid black;
          th {
            width: 150px;
            text-align: left;
            white-space: nowrap;
            background-color: #f7f7f7;
            padding: 12px 15px;
            border-bottom: 1px solid #dbdbdb;
          }
          td {
            padding: 12px 15px;
            border-bottom: 1px solid #dbdbdb;
          }
        }
      }
    }
  }
  .g-layout_sidebar {
    float: right;
    position: fixed;
    top: 30px;
    right: 5px;
    height: 800px;
    width: 300px;
    margin-left: 30px;
    .full-cls {
      background-color: #f7f7f7;
      .p-order-a {
        display: inline;
        dd {
          font-size: 1.2rem;
          flex: 1;
          text-align: right;
          font-weight: bold;
          border-bottom: 1px solid #dbdbdb;
        }
        .changeProduct {
          font-size: 0.9rem;
          color: #808080;
        }
        .g-label-price {
          font-size: 0.9rem;
          color: #eb6157;
          border: 1px solid #eb6157;
          background-color: #ffffff;
        }
        .postage {
          font-size: 0.9rem;
          color: #808080;
        }
      }
      .last-price {
        font-weight: bold;
      }
    }
    .addToCartBtn {
      text-align: center;
      margin: auto;
      background-color: #eb6157;
      height: 50px;
      width: 200px;
      margin-left: 60px;
      margin-bottom: 50px;
    }
  }
  .deliverImg {
    text-align: center;
    img {
      height: 61.5px;
      width: 230px;
    }
  }
}
