.n-review-btn {
  text-align: center;
  margin-bottom: 10px;
  .g-btn-g-btn-w-sm {
    width: auto;
    min-width: 106px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
    display: inline-flex;
    padding: 0;
    transition: background-color 0.2s;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .span {
      padding: 5px 30px !important;
      color: #009e96;
    }
  }
}
.ant-modal-content {
  width: 850px;
  .ant-modal-title {
    font-weight: bolder;
    font-size: larger;
  }
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    .goods-a {
      margin-top: 20px;
      .intro {
        display: flex;
        img {
          height: 160px;
          width: 160px;
          margin-right: 20px;
        }
        .bolck-box {
          .skuName {
            font-size: larger;
            margin-bottom: 10px;
          }
          .color-size {
            margin-top: 10px;
          }
        }
      }
    }
    .write-review {
      margin-top: 25px;
      border-top: 1px solid #dbdbdb;
      .block {
        margin-bottom: 38px;
      }
      .point {
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        .left {
          display: flex;
          flex-direction: row;
          margin-right: 140px;
          margin-left: 20px;
          .pingjia {
            margin-right: 10px;
            font-weight: bolder;
          }
          .bixu {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(255, 3, 3);
            height: 26px;
            width: 32px;
          }
        }
        .right {
          display: flex;
          .low {
            margin-right: 10px;
          }
          .star {
            margin-right: 10px;
          }
        }
      }

      .user-name {
        margin-top: 25px;
        display: flex;
        margin-bottom: 25px;
        .nick-name {
          margin-right: 130px;
          margin-left: 20px;
          font-weight: bolder;
        }
        .a-10 {
          color: #a0a0a0;
        }
        .input-nick-name {
          height: 30px;
          width: 450px;
          border: solid 1px #bdc3c7;
        }
      }
      .title {
        margin-top: 25px;
        display: flex;
        margin-bottom: 25px;
        .title-a {
          margin-right: 158px;
          margin-left: 20px;
          font-weight: bolder;
        }
        .a-20 {
          color: #a0a0a0;
        }
        .input-title {
          height: 30px;
          width: 450px;
          border: solid 1px #bdc3c7;
        }
      }
      .review {
        margin-top: 25px;
        display: flex;
        margin-bottom: 25px;
        .review-a {
          margin-right: 132px;
          margin-left: 20px;
          font-weight: bolder;
        }
        .a-500 {
          color: #a0a0a0;
        }
        .input-review {
          height: 400px;
          width: 450px;
          border: solid 1px #bdc3c7;
        }
        .words {
          color: #222222;
        }
      }
      .photo {
        margin-top: 25px;
        display: flex;
        margin-bottom: 25px;
        .photo-a {
          margin-right: 120px;
          margin-left: 20px;
          font-weight: bolder;
        }
        .button {
          color: #ffffff;
          background-color: #009e96;
          margin-bottom: 15px;
        }
        .input-review {
          height: 400px;
          width: 450px;
          border: solid 1px #bdc3c7;
        }
      }
    }
  }
}
