.g-layout_sidebar {
  float: right;
  position: fixed;
  top: 30px;
  right: 5px;
  height: 800px;
  width: 300px;
  margin-left: 30px;
  .full-cls {
    background-color: #f7f7f7;
    .p-order-a {
      display: inline;
      dd {
        font-size: 1.2rem;
        flex: 1;
        text-align: right;
        font-weight: bold;
        border-bottom: 1px solid #dbdbdb;
      }
      .changeProduct {
        font-size: 0.9rem;
        color: #808080;
      }
      .g-label-price {
        font-size: 0.9rem;
        color: #eb6157;
        border: 1px solid #eb6157;
        background-color: #ffffff;
      }
      .postage {
        font-size: 0.9rem;
        color: #808080;
      }
    }
    .last-price {
      font-weight: bold;
    }
    .addToCartBtn {
      text-align: center;
      margin: auto;
      background-color: #eb6157;
      height: 50px;
      width: 200px;
      margin-left: 60px;
      margin-bottom: 50px;
    }
    .hide {
      display: none;
    }
  }
}
