.g-layou_foot {
  .g-hr-g-only-lg {
    height: 50px;
  }
  .g-block-sm {
    display: flex;
    width: 900px;

    .questionAndAnswer {
      text-align: center;
      height: 830px;
      width: 450px;
      .title {
        position: relative;
        display: flex;
        left: 42%;
        font-size: larger;
        font-weight: bold;
        .icon {
          margin-right: 8px;
          color: #009e96;
        }
      }
      .box-a {
        margin-top: 15px;
        display: flex;
        .countGoodsId {
          font-size: large;
          margin: 0;
        }
        .pageChange {
          display: flex;
          margin-left: 10px;
          .left {
            transition: transform 0.3s;
            color: #009e96;
            flex-shrink: 0;
            display: inline-block;
            vertical-align: middle;
            font-family: "icon";
            font-style: normal;
            font-weight: bolder;
            font-variant: normal;
            letter-spacing: 0;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
          .right {
            transition: transform 0.3s;
            color: #009e96;
            flex-shrink: 0;
            display: inline-block;
            vertical-align: middle;
            font-family: "icon";
            font-style: normal;
            font-weight: bolder;
            font-variant: normal;
            letter-spacing: 0;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
          .p_index {
            display: flex;
            margin-left: 10px;
            letter-spacing: 5px;
          }
        }
        .orderBy-block {
          margin-left: 25px;
          overflow: hidden;
          position: relative;
          border: 1px solid #bdc3c7;
          border-radius: 3px;
          background: #ffffff;
          width: auto;
          display: inline-block;
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
          box-shadow: inner 0 1px 2px rgba(0, 0, 0, 0.2);
          vertical-align: middle;
          .orderBy {
            padding-right: 1em;
            cursor: pointer;
            text-indent: 0.01px;
            text-overflow: ellipsis;
            border: none;
            outline: none;
            background: transparent;
            background-image: none;
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
            padding: 4px 38px 4px 8px;
            font-size: 13px;
          }
        }
      }

      .question {
        display: flex;
        flex-direction: column;
        .attention {
          border-style: dotted;
          border-width: 0.1ch;
          border-color: rgb(184, 184, 184);
          margin-bottom: 10px;
          .tittle-a {
            font-weight: bold;
            margin: 10px 0;
            font-size: 1rem;
            line-height: 1.5;
            color: #eb6157;
          }
          .att-1 {
            font-size: small;
            font-weight: 100;
          }
          .att-2 {
            font-size: small;
            font-weight: 100;
          }
        }
        .zv-textbox {
          font-size: 13px;
          padding: 10px;
          border: solid 1px #bdc3c7;
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 20%);
          box-shadow: inner 0 1px 2px rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          width: 100%;
          margin-bottom: 10px;
        }
        .add-question-background {
          background-color: #fff;
          .add-question {
            border: solid 1px #bdc3c7;
            padding: 8px 10px;
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 13px;
            background: #fff;
            display: inline-block;
          }
        }
      }
      .review {
        margin-top: 20px;
        height: auto;
        width: 500px;
        text-align: center;
        .tittle-r {
          font-size: 2rem;
          text-align: left;
        }
        .review-score {
          display: flex;
          .p-reviewScore-left {
            box-sizing: border-box;
            display: inline-block;
            padding: 10px 10px 5px 10px;
            text-align: center;
            vertical-align: top;
          }
          .p-reviewScore-right {
            box-sizing: border-box;
            display: inline-block;
            padding: 2px 2px 2px 2px;
            vertical-align: top;
            width: 100%;
            .review-graph-row-container {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 0px;
              // margin-left: -10px;
              .meter-visible-bar {
                border-radius: 4px;
                overflow: hidden;
                box-shadow: inset 0 0 0 1px #e3e6e6;
                background-color: #dbdbdb;
                height: 10px;
                width: 120px;
                margin-left: 10px;
                margin-top: 5px;
                margin-right: 5px;
                cursor: pointer;
                .meter-bar {
                  transition: width 0.5s ease;
                  float: left;
                  font-size: 0;
                  height: 100%;
                  border-radius: 4px;
                  box-shadow: inset -2px 0 0 -1px #a4433c,
                    inset 0 0 0 1px #8d3a34;
                  background-color: #eb6157;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                }
              }
            }
          }
          .p-reviw-graph-area-foot {
            text-align: center;
            margin-top: -12px !important;
            margin-bottom: 12px;
          }
        }
        .customer-review {
          border-top: 1px solid #dbdbdb;
          width: 500px;
          .customer-review-background {
            width: auto;
            margin: 10px;
            text-align: left;
            .g-label-brand-g-reviewList_label {
              margin-top: 10px;
              color: #009e96;
              border: 1px solid #009e96;
              margin-bottom: 5px;
              font-weight: normal;
              line-height: 1;
              display: inline-block;
              padding: 3px 5px;
              vertical-align: middle;
              white-space: nowrap;
              background-color: #fff;
            }
            .reviewMore {
              margin-top: 20px;
              text-align: center !important;
              margin-bottom: 20px;
              .button-background {
                display: flex;
                .button {
                  border-color: #fff;
                  font-family: sans-serif;
                  overflow-x: hidden;
                  height: 100%;
                  margin: 0;
                  color: #333;
                  background-color: #fff;
                  -webkit-text-size-adjust: 100%;
                  -ms-text-size-adjust: 100%;
                  text-size-adjust: 100%;
                }
              }
            }
            .reviewMore-none {
              display: none;
            }
          }
        }
      }
    }
  }
}
