.g-layou_foot .g-hr-g-only-lg {
  height: 50px;
}
.g-layou_foot .g-block-sm {
  display: flex;
  width: 900px;
}
.g-layou_foot .g-block-sm .questionAndAnswer {
  text-align: center;
  height: 830px;
  width: 450px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .title {
  position: relative;
  display: flex;
  left: 42%;
  font-size: larger;
  font-weight: bold;
}
.g-layou_foot .g-block-sm .questionAndAnswer .title .icon {
  margin-right: 8px;
  color: #009e96;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a {
  margin-top: 15px;
  display: flex;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .countGoodsId {
  font-size: large;
  margin: 0;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .pageChange {
  display: flex;
  margin-left: 10px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .pageChange .left {
  transition: transform 0.3s;
  color: #009e96;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: "icon";
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .pageChange .right {
  transition: transform 0.3s;
  color: #009e96;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: "icon";
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .pageChange .p_index {
  display: flex;
  margin-left: 10px;
  letter-spacing: 5px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .orderBy-block {
  margin-left: 25px;
  overflow: hidden;
  position: relative;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  background: #ffffff;
  width: auto;
  display: inline-block;
  box-shadow: inner 0 1px 2px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
.g-layou_foot .g-block-sm .questionAndAnswer .box-a .orderBy-block .orderBy {
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 4px 38px 4px 8px;
  font-size: 13px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review {
  margin-top: 20px;
  height: auto;
  width: 500px;
  text-align: center;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .tittle-r {
  font-size: 2rem;
  text-align: left;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score {
  display: flex;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviewScore-left {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 10px 5px 10px;
  text-align: center;
  vertical-align: top;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviewScore-right {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  width: 100%;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviewScore-right .review-graph-row-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviewScore-right .review-graph-row-container .meter-visible-bar {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #e3e6e6;
  background-color: #dbdbdb;
  height: 10px;
  width: 120px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviewScore-right .review-graph-row-container .meter-visible-bar .meter-bar {
  transition: width 0.5s ease;
  float: left;
  font-size: 0;
  height: 100%;
  border-radius: 4px;
  box-shadow: inset -2px 0 0 -1px #a4433c, inset 0 0 0 1px #8d3a34;
  background-color: #eb6157;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .review-score .p-reviw-graph-area-foot {
  text-align: center;
  margin-top: -12px !important;
  margin-bottom: 12px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review {
  border-top: 1px solid #dbdbdb;
  width: 500px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background {
  width: auto;
  margin: 10px;
  text-align: left;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background .g-label-brand-g-reviewList_label {
  margin-top: 10px;
  color: #009e96;
  border: 1px solid #009e96;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  padding: 3px 5px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background .reviewMore {
  margin-top: 20px;
  text-align: center !important;
  margin-bottom: 20px;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background .reviewMore .button-background {
  display: flex;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background .reviewMore .button-background .button {
  border-color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  color: #333;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}
.g-layou_foot .g-block-sm .questionAndAnswer .review .customer-review .customer-review-background .reviewMore-none {
  display: none;
}/*# sourceMappingURL=productDetail.styles.css.map */